Workshop3/PetImages/*
Workshop3/Medical-MNIST-Classification-master/resized/*
Workshop3/mednist-classification-master/resized/*
Workshop3/images.npy

Workshop5/GoogleNews-vectors-negative300.bin
Workshop5/glove.6B.100d.txt*
Workshop5/glove.6B.100d.txt